
<div class="event-index row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Events Page</h1>
    <a href="<%= event_path(@event)%>">
    <section class="event-box">
      <div class="event-heading">
        <h4><%= @event.title.capitalize %></h4>
      </div>
    </a>
    <div class="event-content">
      <p><%= @event.description.truncate(50)%></p>
      <p class="host-name">By <%= @event.creator.name %></p>
        <ul>
          <li>
            <i class="icon fa fa-map-marker"></i><span><%= @event.location %></span>
          </li>
          <li>
            <i class="icon fa fa-calendar-o"></i><span><%= "#{format_date(@event.date)} at #{format_time(@event.date)}"%> </span>
          </li>
        </ul>
        <% if logged_in? && correct_user %>
        <%= link_to 'Edit event', edit_event_path(@event) %>
        <% else %>
        <% end %>
    </div>
    </section>
 
  </div>
</div>

<div class="col-sm-6 attend-box col-sm-offset-3">
		<h3 class="attending-head"><i class="fa fa-list"></i>Users Attending</h3>
		  <% @list_of_attendees.each do |attende| %>
			<ul class="guest-list">
				<li><%= attende.name %></li>
			</ul>
			
		  <% end %>     
</div>

<% if logged_in? %>
<div class="col-sm-6 col-sm-offset-3">
      <%= form_for [@event,@user] , :url => {:action=>'create', :controller=>'invitations'},:html => {:class =>'InvitationsController', :method => 'POST'} do |f| %>
  
      <%= hidden_field(:event,:id)  %>
    <div class='form-group'>
      <%= f.label :select_friend, class: 'form-control' %>
      <%= f.collection_select( :id, User.all, :id, :name, {class: 'form-control'}) %>
    
     <%= f.button 'Invite a friend',class: 'form-control ' %>
    </div>
   <% end %>
</div> 
<% else %>
<% end %>



